*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: #0b87ff;
    position: relative; /* So important add it */
}

a{
    text-decoration: none;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 10px;
}

.container{
    padding: 3.5rem 15rem;
}

.to-do-list-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.new-task {
    background: #fff;
    padding: 1.8rem 1.5rem;
    border-radius: .4rem;
}

.task-input {
    width: 100%;
    padding: 0.8rem 0.5rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
    outline: none;
    border: none;
    border-bottom: 2px solid #d1d3d4;
    transition: all .7s ease-in-out;
}

.error-message {
    color: #fb3b3b;
    font-style: italic;
    padding-top: 10px;
    display: block;
}

.add-act, .updt-act {
    background: #0b87ff;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 0.3rem;
    font-family: "Poppins", sans-serif;
    transition: all .7s ease-in-out;
}

.tasks {
    background-color: #fff;
    padding: 1.8rem 1.5rem;
    border-radius: 0.8rem;
    row-gap:30px
}

.task-cart {
    border-bottom: 2px solid #d1d3d4;
    padding-bottom: 20px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 15px;
    transition: all .7s ease-in-out;
}

.task.completed{
    text-decoration: line-through;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.btn {
    color: #fff;
    padding: .7rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.edt-btn {
    background: #228d22c9;
}

.task.completed .task-actions .edit-action .edt-btn{
    display: none;
} 

.rm-btn{
    background-color: #fb3b3b;
}

.shw-btn{
    background-color: #0b87ff;
}

.toast{
    position: fixed;
    display: none;
    top: 20px;
    right: 20px;
    background-color: rgba(151, 227, 130, .8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    max-width: 270px;
    animation: slideFromTop .5s forwards;
}

@keyframes slideFromTop{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(100%);
    }
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}

.update-task {
    background: #fff;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    transform: scale(0);
    transition: all .3s ease-in-out;
}

.exit {
    text-align: end;
    font-size: 1.6rem;
    color: red;
}

.d-none{
    display: none;
}

/* Animations */

.task:hover{
    cursor: pointer;
}

.task-input:focus{
    border-color: #000;
    color: #000;
}

.add-act:hover{
    opacity: .7;
}

.update-task.zoom-in{
    transform: scale(1);
}



